<section>
    <div class="container ">
      <div class="row d-flex flex-column justify-content-center align-items-center">
        <div class="row justify-content-center"  style="width: 800px ;">
  
          <div class="alert alert-success alert-dismissible fade show" role="alert"
            *ngIf="alert && message != null && message != ''">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeAlert()">
            </button>
            {{message}}
          </div>
          <h3 class="text-center" style="margin-top:40px ;">Add New Notification</h3>
        
          <form [formGroup]="contactForm">
            <div class="form-group">
              <input type="text" name="AlertTitle" id="AlertTitle" placeholder="Enter Notification Title"
              formControlName = "AlertTitle" class="form-control">
            </div>
            <div class="form-group">
              <input type="datetime-local" name="SentTime" id="SentTime" placeholder="Enter Notification Time"
              formControlName = "SentTime" class="form-control">
            </div>
            <div class="form-group">
              <select formControlName="Status" class="form-control" >
                <option value="">Select Status</option>
                <option *ngFor="let status of NotificationStatus" [ngValue]="status.id">{{status.name}}</option>
              </select>
            </div>
            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
              <button class="btn btn-secondary" btn-lg type="submit"
              (click)="submit()" [disabled]="!contactForm.valid">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</section>
  